body {
    margin: 0;
}
.container{
    display: flex;
    height: 100vh;
    width: 100vw;

}
.board{
    display: flex;
    margin: 0;
    flex-direction: column;
    background-color: white;
    height: 100vh;
    flex-grow: 17;
}

.sidebar{
    display: block;
    background-color: black;
    flex-grow: 1

}
.sideButtons{
    vertical-align: 300px;
}

.container .sidebar .axe{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background-image: url("../images/axe.jpg");
}

.container .sidebar .pickaxe{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background-image: url("../images/pickaxe.jpg");
}

.container .sidebar .shovel{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    background-image: url("../images/shovel.jpg");
}

.container .sidebar .block{
    border: 1px solid black;
    height: 50px;
    width: 50px;
}
